body{
    color: rgb(230, 225, 218);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background: rgb(8, 8, 8);
    text-align: center;
}
#tribute-info{
    text-align: start;
    margin: 10px 20px 10px 20px;
}
#headline{
    text-align: center;
}

@media screen and (max-width: 480px) {
   img{
       width: 80%;
       height: 80%;
   }
}